/*
 * Base structure
 */

html, body {
	height: 100%;
	min-height: 100%;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 100;
}
/*
 * Page structure
 */
.site-wrapper {
	display: table;
	width: 100%;
	height: 100%; /* For at least Firefox */
	min-height: 600px;
}

.site-wrapper-inner {
	display: table-cell;
}

.form-container {
	margin-right: auto;
	margin-left: auto;
	width: 350px;
}

.message-container {
	margin-right: auto;
	margin-left: auto;
}

/*
 * footer and header
 */
.for-footer-header {
	position: relative;
	height: auto;
	min-height: 100%;
	height: 100%;
	margin-bottom: -70px;
}

.need-header {
	padding-top: 120px;
}

.need-footer {
	padding-top: 120px;
}

.footer {
	position: relative;
	height: 70px;
	background-color: #f2f2f2;
	color: #000;
}

.footer_container {
	width: 1000px;
	margin-left: auto;
	padding-top: 10px;
	margin-right: auto;
	text-align: left;
}

.header {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 110px;
	background-color: #f2f2f2;
	color: #000;
}

.header_container {
	width: 1000px;
	margin-left: auto;
	padding-top: 10px;
	margin-right: auto;
}

.logo img {
	height: 60px;
	margin-top: 10px;
	float: left;
}

.navi-group {
	float: right;
	margin-top: 30px;
}

.profile-icon img {
	height: 45px;
	margin-left: 10px;
	float: right;
	border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-ms-border-radius: 7px;
	-o-border-radius: 7px;
	border-radius: 7px;
}

ul.navi-tabs {
	list-style-type: none;
}

ul.navi-tabs li {
	display: inline;
	float: right;
	position: relative;
}

ul.navi-tabs .nav-b a {
	margin-top: 5px;
	width: 84px;
	height: 36px;
	display: block;
	text-align: center;
	background: #e7e7e7;
	padding-top: 7px;
	font-size: 15px;
	margin-left: 5px;
	margin-right: 5px;
	color: #777;
	border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-ms-border-radius: 7px;
	-o-border-radius: 7px;
	border-radius: 7px;
}

ul.navi-tabs .nav-b a:hover, #selected {
	color: #fff;
	background-color: #46a8e9;
}

.footer-links {
	float: left;
	margin-top: 15px;
}

.footer-links a {
	margin-right: 20px;
	font-size: 12px;
	color: #565656;
	font-weight: bold;
}

.footer-links a:hover {
	color: #aaa;
}

.reserved-right {
	display:block;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
    color:#59636d;
    font-size:11px;
    margin:5px 0px;
}


/* content */
.content-container {
	width: 1000px;
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	overflow: hidden;
	padding-top: 160px;
	padding-bottom: 100px;
}

.column-personal {
	float: left;
	width: 250px;
	background-color: #f2f2f2;
	border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-ms-border-radius: 7px;
	-o-border-radius: 7px;
	border-radius: 7px;
	color: #777;
}

.profile-pic-container {
	overflow: hidden;
	margin-bottom: -50px;
}

.profile-pic {
	width: 100%;
	border-radius: 7px 7px 0px 0px;
	-webkit-border-radius: 7px 7px 0px 0px;
	-moz-border-radius: 7px 7px 0px 0px;
	-ms-border-radius: 7px 7px 0px 0px;
	-o-border-radius: 7px 7px 0px 0px;
	border-radius: 7px 7px 0px 0px;
}

.name-and-age {
	color: #fff;
	font-size: 18px;
	height: 50px;
	position: relative;
}

#name-and-age-text {
	left: 10px;
	top: 15px;
	position: absolute;
}

#rating-number-wrapper {
	right: 10px;
	bottom:5px;
	top:5px;
	position: absolute;
	display:inline-block;
	width:40px;
	background-color: #fff;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	color:#757f85;
	text-align:center;
}

#rating-number {
	display:inline-block;
	font-size: 20px;
	vertical-align:middle;
}

#rating-number-actual{
	font-size:22px;
	height:22px;
	margin-bottom:2px;
}

#rating-word {
	font-size:10px;
}

.one-line-about {
	font-size: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-left: 10px;
	margin-right: 10px;
	font-weight: 100;
	border-bottom: solid 1px #ddd;
}

.info-table {
	margin: 10px;
}

.info-table tr td {
	color: #777;
	padding: 10px 5px;
	font-size: 14px;
	font-weight: 100;
}

.about-me {
	color: #444;
	margin-right: 10px;
}

td.title {
	width: 30%;
	margin-right: 10px;
	vertical-align: top;
}

td.info {
	width: 50%;
}

.column-rating {
	float: right;
	width: 700px;
	margin-left: 50px;
}

h2 {
	margin: 0px;
	padding: 0px;
	color: #46a8e9;
	font-weight: 100;
	font-size: 23px;
}

.profile-progress {
	margin-top: 25px;
	margin-bottom: 20px;
	overflow: hidden;
	width: 670px;
}

.profile-progress .bar-background {
	float: left;
	height: 12px;
	width: 620px;
	background-color: #000;
	border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-ms-border-radius: 7px;
	-o-border-radius: 7px;
	border-radius: 7px;
	margin-top: 1px;
	background: rgb(30,87,153); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFlNTc5OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMjZhZWYyIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2FiZmM4OCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(left, rgba(30,87,153,1) 0%, rgba(38,174,242,1) 0%, rgba(171,252,136,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(30,87,153,1)), color-stop(0%,rgba(38,174,242,1)), color-stop(100%,rgba(171,252,136,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(30,87,153,1) 0%,rgba(38,174,242,1) 0%,rgba(171,252,136,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(30,87,153,1) 0%,rgba(38,174,242,1) 0%,rgba(171,252,136,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(30,87,153,1) 0%,rgba(38,174,242,1) 0%,rgba(171,252,136,1) 100%); /* IE10+ */
	background: linear-gradient(to right, rgba(30,87,153,1) 0%,rgba(38,174,242,1) 0%,rgba(171,252,136,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#abfc88',GradientType=1 ); /* IE6-8 */
}

.remained-perc {
	float: right;
	height: 12px;
	background-color: #e4e9ec;
	border-radius: 0px 7px 7px 0px;
	-webkit-border-radius: 0px 7px 7px 0px;
	-moz-border-radius: 0px 7px 7px 0px;
	-ms-border-radius: 0px 7px 7px 0px;
	-o-border-radius: 0px 7px 7px 0px;
	border-radius: 0px 7px 7px 0px;
}

.left-num {
	float: left;
	width: 20px;
	font-size: 12px;
}

.right-num {
	float: right;
	width: 20px;
	font-size: 12px;
}

.verified-num {
	text-align: center;
	font-size: 30px;
	color: #757f85;
}

.verified-num a {
	color: #757f85;
}

.verified-num a:hover {
	color: #46a8e9;
}

.verified-content {
	text-align: center;
	font-size: 13px;
	color: #757f85;
}

.rating-main {
	margin-top: 40px;
	overflow: hidden;
}

.verified-info {
	display: inline-block;
	width: 350px;
	vertical-align: top;
	margin-left: auto;
	margin-right: auto;
	margin-top:10px;
}

.verified-item {
	padding-top: 30px;
	padding-bottom: 30px;
	overflow: hidden;
	border-bottom: 1px solid #ddd;
}

.title-name {
	float: left;
	width: 160px;
	font-size: 15px;
	color: #666;
}

.check-or-get-verified {
	float: right;
	width: 130px;
	text-align: center;
}

.check-or-get-verified a img {
	width: 14px;
	height: 14px;
}

.contact-info {
	display: inline-block;
	vertical-align: top;
	margin-top: 20px;
	margin-left: 50px;
}

#ratees-list {
	border: solid 1px #dddddd;
	border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-ms-border-radius: 7px;
	-o-border-radius: 7px;
	border-radius: 7px;
	margin-top: 10px;
	margin-bottom: 20px;
	overflow: hidden;
}

.ratee-item {
	border-bottom: solid 1px #dddddd;
	padding: 8px;
	overflow: hidden;
}

#change-ratees-btn {
	background-color: #f2f2f2;
}

#change-ratees-btn a{
	text-align: center;
	display:block;
	padding:3px;
	font-size: 14px;
	color:#777;
	
}

#change-ratees-btn:hover{
	background-color: #e2e2e2;
}

.contact-group {
	border: solid 1px #dddddd;
	border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-ms-border-radius: 7px;
	-o-border-radius: 7px;
	border-radius: 7px;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 8px;
	width: 260px;
	overflow: hidden;
}

.contact-group-msg {
	color: #666;
	font-size: 15px;
}
.get-contact-btn-group {
	padding-left: 8px;
	padding-right: 8px;
	padding-bottom: 8px;
	overflow: hidden;
	border-bottom: solid 1px #dddddd;
}
.get-contact-btn-group div {
	margin-top: 5px;
	margin-bottom: 5px;
}

.contact-pic {
	float: left;
}

.contact-pic img {
	border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-ms-border-radius: 7px;
	-o-border-radius: 7px;
	border-radius: 7px;
	width: 80px;
	height: 80px;
}

.contact-opt {
	float: left;
	text-align: center;
	margin-left: 10px;
	width: 150px;
}

.contact-name {
	font-size: 15px;
	padding: 5px;
}

.contact-rate-btn {
	padding: 10px;
}

.about-me {
	margin-top: 30px;
	margin-bottom: 90px;
	font-size: 14px;
	color: #666;
}

.about-me-title {
	color: #333;
}

.about-me-content {
	margin-top: 5px;
	color: #888;
}

.profile-message-input-group {
	margin-top: 20px;
}

#profile-input-message {
	height: 200px;
}

.profile-send-button-wrapper {
	margin-top: 20px;
	text-align: right;
}

/*photos*/
.photo-manage-group {
	text-align: center;
	margin-bottom: 10px;
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	height: auto;
	border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-ms-border-radius: 7px;
	-o-border-radius: 7px;
	border-radius: 7px;
}

.photo-button {
	padding: 5px;
	display: inline-block;
}

.pic-item {
	position: relative;
}

.pic-item img {
}

.pic-status {
	display: block;
	position: absolute;
	bottom: 4px;
	right: 0px;
	left: 0px;
	text-align: center;
}

.inline-pic-status {
	font-size: 12px;
	display: inline-block;
	color: #FFF;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	/* Fallback for web browsers that don't support RGBa */
	background-color: rgb(0, 0, 0);
	/* RGBa with 0.6 opacity */
	background-color: rgba(0, 0, 0, 0.6);
	/* For IE 5.5 - 7*/
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
	/* For IE 8*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}

.photo-manage-group div a {
	display: block;
	width: 130px;
}

.photo-panel {
	padding-top: 15px;
	text-align: center;
}

.photo-panel div {
	display: inline-block;
}

/*search*/
.search-column {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

#city, #country, #from, #to, #gender {
	display: inline;
}

.search-section-title {
	margin: 10px 0px;
	padding: 0px;
	color: #46a8e9;
	font-weight: 100;
	font-size: 23px;
}

.criteria-panel {
	background-color: #f2f2f2;
	padding: 15px 10px;
}

.criteria-group {
	display: inline-block;
	margin-right: 15px;
	margin-top: 0px;
}

.criteria-title {
	font-weight: 700;
	font-size: 14px;
	margin-left: 3px;
	margin-bottom: 6px;
}

.criteria-age select {
	width: 70px;
	display: inline-block;
}

.search-btn {
	text-align: right;
	width: 110px;
}

.search-btn a {
	width: 100px;
}

.search-result-group {
	margin-top: 50px;
	margin-bottom: 50px;
}

.search-results  table {
	width: 100%;
	border-collapse: separate;
	border-spacing: 0px 15px;
}

.search-results  table th {
	font-weight: 700;
	font-size: 14px;
	margin-left: 3px;
	margin-bottom: 6px;
}

.search-results  table td {
	height: 100px;
	vertical-align: center;
}

.result-item {
	margin: 10px;
	height: 110px;
	color: #666;
}

.result-item td {
	border-top: 1px solid #f2f2f2;
	border-bottom: 1px solid #f2f2f2;
	font-size: 14px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.result-item td:first-child {
	border-left: 1px solid #f2f2f2;
	border-top-left-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	-moz-border-top-left-radius: 5px;
	-ms-border-top-left-radius: 5px;
	-o-border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-bottom-left-radius: 5px;
	-ms-border-bottom-left-radius: 5px;
	-o-border-bottom-left-radius: 5px;
	padding-left: 5px;
}

.result-item td:last-child {
	border-right: 1px solid #f2f2f2;
	border-top-right-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-top-right-radius: 5px;
	-ms-border-top-right-radius: 5px;
	-o-border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-bottom-right-radius: 5px;
	-ms-border-bottom-right-radius: 5px;
	-o-border-bottom-right-radius: 5px;
	padding-right: 5px;
}

.search-photo {
	width: 200px;
	padding-right: 80px;
	text-align: center;
}

.search-photo a img {

	min-width: 60px;
	min-height: 60px;
	max-width: 100px;
	max-height: 100px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}

.search-photo .check-mark {
	display: inline-block;
	margin-left: -17px;
	margin-bottom: 2px;
	vertical-align: bottom;
	background-color: #FFF;
	width: 15px;
	height: 15px;
	text-align: center;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #EEEEEE;
}

.search-name {
	width: 200px;
}

.search-age {
	width: 43px;
}

.search-age-verify {
	width: 133px;
	padding-right: 100px;
}

.search-profession-verify {
	width: 43px;
}

.search-check {
	height: 15px;
	width: 15px;
}

.check-mark img{
	margin-bottom:10px;
}
/*edit page*/
.edit-form-label {
	margin-top: 20px;
}
.column-editing {
	margin-left: 300px;
}

.edit-form-group {
	margin-bottom: 15px;
}

.edit-input-wrapper {
	display: inline-block;
	width: 350px;
}
.edit-button-wrapper {
	display: inline-block;
	vertical-align: bottom;
	width: 100px;
	margin-left: 50px;
}

.inline-edit {
	margin-top: 15px;
}

/*profile pege verification table*/
.verification-table-main {
	border: 1px solid #f2f2f2;
	padding: 30px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	margin-top: 40px;
	overflow: hidden;
}

.go-back-button-wrapper {
	text-align: center;
	margin-top: 40px;
	margin-bottom: 20px;
}

#go-back-btn {
	width: 200px;
}

.verification-table-wrapper {
	margin-bottom: 30px;
}

/*conversation*/
.column-conversation {
	float: left;
	width: 250px;
	border: solid 1px #f2f2f2;
	border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-ms-border-radius: 7px;
	-o-border-radius: 7px;
	border-radius: 7px;
	color: #777;
	padding: 3px;
}

.column-messages {
	float: right;
	width: 690px;
	padding: 5px;
}

.conversations-list {
}

.conversations-list-wrapper {
	height: 500px;
	overflow: hidden;
}

.conversation-group {
	border-bottom: 1px solid #f2f2f2;
	position: relative;
}

.conversation-background-wrapper {

	border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-ms-border-radius: 7px;
	-o-border-radius: 7px;
	border-radius: 7px;
	color: #777;
	padding: 3px;
	margin: 2px;
}

.conversation-selected {
	background-color: #46a8e9;
	color: #fff;
}

.messages-list-wrapper {
	height: 360px;
	overflow: hidden;
}

.message-input-group {
	margin-top: 20px;
	width: 650px;
}

.conversation-pic {
	height: 52px;
	width: 52px;
	text-align: center;
	display: inline-block;
}

.conversation-pic img {
	border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-ms-border-radius: 7px;
	-o-border-radius: 7px;
	border-radius: 7px;
	max-width: 50px;
	max-height: 52px;
}

.conversation-name {
	display: inline-block;
	vertical-align: middle;
	font-size: 15px;
	margin-left: 20px;
	width: 120px;
}

.unread-msg-num {
	display: inline-block;
	margin-left: 10px;
	background-color: #F33;
	text-align: center;
	width: 20px;
	height: 20px;
	font-size: 12px;
	padding: 1px;
	color: #FFF;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	border-radius: 20px;
	vertical-align: middle;
}

.new-msg-indication {
	font-weight: bold;
}

#input-message {
	height: 70px;
}

.send-button-wrapper {
	margin-top: 10px;
	text-align: right;
}

#send-btn {
	width: 100px;
}

.message-wrapper {
	margin-bottom: 20px;
	overflow: hidden;
}

.message-target-image {
	float: left;
	height: 40px;
	width: 40px;
	vertical-align: middle;
}

.message-target-image  img {
	border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-ms-border-radius: 7px;
	-o-border-radius: 7px;
	border-radius: 7px;
	max-width: 40px;
	max-height: 40px;
}

.messgae-detail {
	width: 620px;
	float: right;
	vertical-align: middle;
	overflow: hidden;
}

.message-target-name {
	font-size: 15px;
	color: #777;
}

.message-text {
	float: left;
	max-width: 420px;
	font-size: 13px;
	color: #000;
}

.message-time {
	float: right;
	margin-right: 30px;
	max-width: 120px;
	font-size: 13px;
	color: #777;
}

.list-loading {
	padding: 5px;
	color: #777;
	text-align: center;
}

/*rating*/
.column-rating-list {
	border: 1px solid #f2f2f2;
	border-radius: 7px;
	color: #777;
	float: left;
	padding: 3px;
	width: 250px;
}

.column-rating-target {
	margin-left:300px;
}

.rating-list-wrapper {
	height:600px;
	overflow: hidden;
}

.rating-list-selected {
	background-color: #46a8e9;
	color: #fff;
}

.rating-list-group {
	border-bottom: 1px solid #f2f2f2;
	color: #777;
	position: relative;
}
.rating-list-ask-login {
	padding-bottom:15px;
}
.rating-list-ask-login div {
	margin: 7px;
}

.rating-background-wrapper {
	border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-ms-border-radius: 7px;
	-o-border-radius: 7px;
	border-radius: 7px;
	padding: 3px;
	margin: 2px;
}

.rating-selected {
	background-color: #46a8e9;
	color: #fff;
}

.rating-pic {
	height: 52px;
	width: 52px;
	text-align: center;
	display: inline-block;
}

.rating-pic img {
	border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-ms-border-radius: 7px;
	-o-border-radius: 7px;
	max-width: 50px;
	max-height: 52px;
}

.rating-name {
	display: inline-block;
	vertical-align: middle;
	font-size: 15px;
	margin-left: 20px;
	width: 120px;
}

.rating-target-main {
	text-align: center;
}

.rating-start-title {
	margin-top: 200px;
}

.rating-target-sub-title {
	font-size:15px;
	margin:7px;
	color: #757f85;
}

.rating-target-image img {
	border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-ms-border-radius: 7px;
	-o-border-radius: 7px;
	margin-top:10px;
	max-height:150px;
}

.rating-item-title {
	margin-top:35px;
	color: #757f85;
	font-size:17px;
}

.rating-btns {
	margin-top:10px;
	margin-bottom:20px;
}

.rating-btns a {
	margin: 0px 10px;
}

.rate-next-step {
	margin:50px 0px;
}

.rate-note {
	color: #777;
	font-size:13px;
	margin-top:50px;
}

#ratee-email-group {
	margin-top: 40px;
}

#ratee-email-wrapper {
	width:350px;
	margin-right:auto;
	margin-left:auto;
}

#complete-rating-title{
	margin-top:70px;
	margin-bottom:50px;
}

#btn-rating-complete {
	margin-top:100px;
}

.trustworthy {
	text-align:center;
}

.picture-title {
	text-align:center;
}

.picture-subtitle {
	text-align:center;
	font-size:14px;
	margin-bottom:5px;
	margin-top:5px;
}

.picture-profile-link {
	text-align:center;
	font-size:14px;
	margin-bottom:20px;
	margin-top:5px;
}
