/*
 * Base structure
 */

html,
body {
  height: 100%;
  min-height: 100%;
  font-family:Arial,Helvetica,sans-serif;
}

body {
  text-align: center;
}

/*
 * Page structure
 */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 600px;
  margin-bottom: -90px;
}

.site-wrapper-inner {
  display: table-cell;
  vertical-align: middle;
}

.form-container {
  margin-right: auto;
  margin-left: auto;
  width:350px;
}

.signup-container {
  margin-right: auto;
  margin-left: auto;
  width:700px;
}

.by-facebook button{
  margin-right: auto;
  margin-left: auto;
	
}

.message-container {
  margin-right: auto;
  margin-left: auto;
}




/*
* footer and header
*/
.for-footer-header {
    position: relative;   
    height: auto;          
    min-height: 100%;
    height:100%; 
    margin-bottom: -90px;
    
}

.need-header {
    padding-top: 120px;
}

.need-footer {
    padding-bottom: 120px;
}

.footer {
    position: relative;  
    height: 90px; 
    background-color:#f2f2f2;
    color:#000;
 }
 
 .footer_container {
    width:700px;
    margin-left:auto;
    padding-top:10px;
    margin-right:auto;
    text-align:left;
 }

 .header {
    position: absolute;  
    top: 0px;
    left: 0px;
    right: 0px;
    height: 120px; 
    background-color:#f2f2f2;
    color:#000;
    border-style: solid;
    border-width: 0 0 1px 0;
 }
 
 .header_container {
    width:700px;
    margin-left:auto;
    padding-top:10px;
    margin-right:auto;
    text-align:left;
    text-align: center;
 }

 .header_container a img {
    height:70px;
    margin-top: 10px;
 }


.footer-links {
    float:left;
} 

.footer-links a {
    margin-right:20px;
    font-size: 12px;
    color:#565656;
    font-weight:bold;
}

.footer-links a:hover{
    color:#aaa;
}

.reserved-right {
    float:right;
    color:#aaa;
    font-size:10px;
}

 /*
 * contents
 */

.form-component {
    width:350px;
}

.title {
    color:#46a8e9;
    margin: 40 0px;
}

.form_label {
    text-align: left;
    padding:5px;
}

.description_label {
    text-align: center;
    padding:5px;
    margin-bottom:30px;
}

#sign-up-btn {
    margin:30px 0 10px 0;
    width:250px;
}

#sign-up-cont-btn {
    margin:30px 0 10px 0;
    width:250px;
}

.error-group{
    color:red;
}

.msg {
  color:#000;
  max-width:450px;
  display:inline-block;
  margin: 20px auto;
  text-align: left;
}

.msg-wrapper {
  max-width:450px;
}

/*
upload pic
*/ 
.upload-group {
  text-align: center;
}

.file-path-display {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  background-color: #eee;
}
